*{
    margin: 0;
    padding: 0;
}
/* font-family: 'PT Sans', sans-serif; */

body{
    width: 100%;
    color:#fff;
    font-family: 'PT Sans', sans-serif;
    line-height: 2.6rem;
    background: rgba(216, 212, 212, 0.822)
}

nav{
    background: #333;
    height: 40px;
    width: 100%;
    position: fixed;
    padding: 5px;
    z-index: 1;
    display: flex;
}

nav ul{
    float: left;
    padding: 5px;
    list-style: none;
}
nav ul li{
    display: inline;
    margin: 5px;
    padding: 10px;

}
nav ul li:hover{
    background: darkslategray;
    
}

a{
    text-decoration: none;
    color: inherit;
}
.main{
    background-image: url(img/showcase.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.tunestxt{
    position: absolute;
    top: 25%;
    left: 8px;
    /* right: 15%; */
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}
.tunestxt h1{
    font-size: 5rem;
    margin-bottom: 2.5rem;


}

.tunestxt h2{
    font-size: 2.5rem;
    margin-bottom: 25px;

}
.tunestxt p{
    font-size: 1.2rem;
    margin: 10px;
}

.zeromillion{
    padding: 50px;
    background: #333;
    text-align: center;

}
img{
    width: 100%;

}

.themovie{
    color: #333;
    text-align: center;
    padding: 50px;

}
#stf{
    height: 65px;
    padding:10px;
    background: rgb(122, 28, 28);
    margin: 6px;
    list-style-image: none;
    width: 130px;   
    border: none;
    color: #fff;
    border-radius: 10%;
}
#stf:hover{
    background: rgb(151, 17, 17);
    height: 65px;
    margin: 10px;
    border-radius: 50%;
}

#read{
    height: 55px;
    padding: 10px;
    background: rgb(36, 36, 107);
    color: #fff;
    border: none;
    width: 160px;
}
#read:hover{
    background: rgb(9, 9, 121);
    cursor: pointer;

}

.themoviee{
    color: #fff;
    text-align: center;
    padding: 50px;
    background-image: url(img/section-bg.jpg);
    height: 400px;
    padding: 50px;
    padding-top: 150px;
    display: flex;
    border-radius: 10%;
    animation-name: the;
    animation-delay: 10s;
    animation-duration:10.5s;
    animation-iteration-count: infinite;
}

@keyframes the
{
  
    25%{
        background-image: url(img/showcase.1.jpg);
       

    }
    75%{
        background: steelblue;
    }
}
